* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 1% 8%;
 }

#spin {
    margin: 166px 2px;
    position: fixed;
}

#tk {
    display: none;
}

#mm-tk {
    display: none
}

#input1 {
    width: 1%;
}

#cat-nilai {
    display: block;
    width: 100px;
}


#table-nilai th {
float: left;
}

#table-nilai input {
    width: 90%;
    text-align: center;
}

#loadGif {
    width: 5%; 
    display: none;
}

#delDup input {
   width: 4%;
   text-align: center;
}


#g-sama button {
    font-size: 127px;
    padding: 0% 5%;
    margin: 1% 1%;
}

.bebas {
    margin: 4% 1%;
}

.jok {
    color: red;
}